#app {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  padding-left: 10%;
  row-gap: 50px;
  width: 80%;
  margin-top: 50px;
}

.img-thumbnail {
  width: 276px;
  height: 400px;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 10%; 
  margin-top: 50px;
}

.form-floating {
  width: 160px;
}

.hufflepuffFooter {
  background-color: yellow;
}

.slytherinFooter {
  background-color: green;
}

.gryffindorFooter {
  background-color: red;
}

.ravenclawFooter {
  background-color: purple;
}

.banishedFooter {
  background-color: black;
  color: white;
}

.card-body1 {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  width: 8%;
  margin-top: 50px;
}

/* body {
  background-image: "https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png" !important;
} */

/* .mainBody {
  display: flex;
  flex-wrap: wrap;
} */

.mainDiv {
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
  width: auto;
  height: auto;
  background-size: cover;
}


/* #formMain {
  opacity: 0;
  visibility: hidden;
  transition: 0.2s;
  transform: translateX(20px);
  &[data-open] {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
} */

#selectHouse {
  width: 160px;
  margin-bottom: 25px;
}

/* body {
  width: 100%;
  height: 100%;
  background-image: url("https://images.ctfassets.net/usf1vwtuqyxm/71J6YPxNauhFABbjHpGluJ/631bd6980b0a430d5b476ef331abb2b5/release_1_hogwarts.png");
  object-fit: cover;
} */

#dropdownBtn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  width: 160px; 
  margin-top: 50px;
}

#hufflepuff {
  background-color: yellow;
  color: black;
  font-weight: 1000;
}

#slytherin {
  background-color: green;
  color: black;
  font-weight: 1000;
}

#gryffindor {
  background-color: red;
  color: black;
  font-weight: 1000;
}

#ravenclaw {
  background-color: purple;
  color: black;
  font-weight: 1000;
}

#banished {
  background-color: black;
  color: white;
  font-weight: 1000;
}

#resetBtn {
  font-weight: 1000;
}

.card {
  height: 561px;
  width: 268px;
}

.card-body1 {
  display: flex;
  justify-content: center;
}

.card-title {
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  justify-content: center;
}
